{% extends "base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block title %}About{% endblock %}

{% block page_content %}
<div class="col-lg-8">
    <h3>What is a Goodwill Schedule Manager?</h3>
    <p>GSM is a tool for Goodwill Managers to build work schedules on the fly</p>
    <h3>How do I use GSM?</h3>
    <p>From the upload page, insert a start date. Then upload an empty schedule, GSM takes care of the rest.</p>
    <h3>Where can I get an empty schedule?</h3>
    <p> <a href="{{ url_for('send_temp') }}">Here</a> </p>
    <h3>Who made GSM?</h3>
    <p>Kyle Magee</p>
</div>
{% endblock %}